body, .title {
  text-align: center;
}

.title {
  font-size: 3em;
}

@media(max-width: 600px) {
  .title {
    font-size: 2em;
  }
}

body {
  margin: 0;
  background-image: url('../images/bg.jpg');
}

.subtitle-marquee {
  background-color: wheat;
}

.chuck-gif {
  max-width: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}

.rainbow {
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 
  /* Chrome, Safari, Opera */
 -webkit-animation: rainbow 3s infinite; 
 
 /* Internet Explorer */
 -ms-animation: rainbow 3s infinite;
 
 /* Standar Syntax */
 animation: rainbow 3s infinite; 
}

#joke-result {
  font-size: 2em;
  font-weight: bold;
}

.be-creative {
  max-width: 100%;
}

.get-button {
  color: red;
  font-size: 28px;
  border-radius: 6px;
}

.result-container {
  display: flex;
  background-color: aqua;
  width: 80%;
  margin: 0 auto;
}

@media(max-width: 600px) {
  .result-container {
    flex-direction: column;
    width: 95%;
  }
}

.image-col {
  width: 400px;
  max-width: 100%;
}

.joke-result-container {
  flex: 1;
  padding: 0 8px;
}

.marquee-inner-container {
  display: flex;
  align-items: center;
}

.marquee-inner-container img {
  height: 60px;
}

main {
  margin-bottom: 20px;
}
footer {
  background-color: azure;
  padding: 20px 0;
}

footer > p {
  margin: 0;
}
.red-heart {
  color: red;
}